@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro/SourceSansPro-Regular.ttf');   
}
@font-face {
    font-family: 'Source Sans Pro Bold';
    src: url('../fonts/SourceSansPro/SourceSansPro-Bold.ttf');   
}
@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli/Muli-Regular.ttf');   
}
.simplebar-track{
    &.horizontal{
        display: none;
    }
}
.simplebar-track{
    &.vertical{
        background-color: white;
        transition: opacity 0.2s linear;
        opacity: 0.5;
        .simplebar-scrollbar{
            &.visible{
                opacity: 0.7;
            }
        }
    }
}
.simplebar-content{
    padding-right: 15px;
    overflow-x: hidden;
    padding-bottom: 22px !important;
}
.m-b-0{
    margin-bottom: 0;
}
.form-container{
    label{
        font-weight: 600;
        .label-description{
            font-weight: 400;
            opacity: .6;
        }
    }
    input{
        &.form-control{
            height: 50px;
            padding: 12px 18px;
            padding-right: 30px;
            font-size: 16px;
        }
    }
    select{
        &.form-control{
            height: 50px;
            padding: 12px 18px;
            padding-right: 30px;
            font-size: 16px;
        }
    }
    .select2-container--bootstrap{
        .select2-selection--single{
            height: 50px;
            padding: 12px 18px;
            padding-right: 30px;
            font-size: 16px;
        }   
    }
    textarea{    
        &.form-control{
            resize: none;
            padding: 12px 18px;
            padding-right: 30px;
            font-size: 16px;
            height: 80px;
        }
    }
    .input-group{
        .input-group-addon{
            background-color: white;
            border-right-color: transparent;
        }
        .form-control{
            border-left-color: transparent;
            padding-left: 0;
        }
    }
    .form-group{
        .form-control-feedback{
            font-size: 18px;
            top: 35px;
        }
        p{
            margin: 0;
            padding-bottom: 10px;
            text-align: justify;
            opacity: .6;
        }
        .btn-link{
            color: white !important;
            text-decoration: none;
            line-height: 23px;                
            padding-left: 23px;
            padding-top: 0;
            padding-bottom: 0;
            left: 9px;
            position: relative;
            &:first-child{
                padding-right: 15px;
            }
            &:last-child{
                padding-right: 0;
            }
            &#btn-add-kbli{
                margin-top: 12px;
            }
            .fa{
                &.fa-stack{
                    position: absolute;
                    left: -9px;
                    top: 1px;
                    .fa-plus-circle{
                        font-size: 30px;
                        color: #50B4E5;
                        left: 3px;
                        position: absolute;
                        top: -4px;
                    }
                    .fa-circle{
                        font-size: 25px;
                        color: white;
                        top: -1px;
                        left: 4px;
                        position: absolute;
                    }
                }
            }
        }
        .error-msg, .success-msg, .warning-msg{
            position: absolute;
            top: 0;
            right: 0;
        }
        .error-msg{
            color: #f74747;
        }
        .success-msg{
            color: #54ea54;
        }
        .warning-msg{
            color: #e0cd3c;
        }
    }
    .row{
        .form-group{
            &.has-feedback{
                .form-control-feedback{
                    right: 15px;
                }
            }
        }
    }
}
#mvtable{
    thead {
        th{
            &:first-child {
                width: 38px !important;   
            }
        }
    }
    tbody{
        tr{
            td{
                &:first-child{
                    text-align: center;
                }
            }
        }
    }
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #2C374B;
  border-color: #2C374B;
}