*,*:before,*:after{
    box-sizing:inherit
}
html{
    box-sizing:border-box;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
body{
    margin:0;
    overflow-x: hidden;
    background-color: #F3F1F4;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.sidebar{
    height:100%;
    background-color:#2C374B;
    position:fixed!important;
    z-index:1;
    overflow-y:auto;
    padding-top: 10px;
    padding-right: 0;
    .list-group-item{
        width:100%;
        background-color:#2C374B;
        display:block;
        padding:8px 16px;
        padding-left: 40px;
        text-align:left;
        white-space:normal;
        float:none;
        color: #4B586C;
        font-size: 16px;
        line-height: 25px;
        border-radius: 0;
        border-color: #4B586C;        
        &:first-child{
            border:none;
        }
        p{
            line-height: 25px;
        }
        i{
            padding-right: 20px;
            -moz-text-stroke-color: #2C374B;
            -webkit-text-stroke-color: #2C374B;
            -moz-text-stroke-width: 1px;  
            -webkit-text-stroke-width: 1px;
        }
        .list-group-item-text{
            color: #fff;
        }
        .list-group-item-heading{
            font-weight: bold;
            margin-top: 0px;
            margin-bottom: 15px;
            color: #fff;
        }

    }
    a{
        &.list-group-item{
            &:hover{
                border-color: #4B586C;
                background-color:#2C374B;
                color: #fff;
                font-weight: bold;
                i{
                    -moz-text-stroke-width: 0;  
                    -webkit-text-stroke-width: 0;
                }
            }
            &.active{
                background-color:#2C374B;
                color: #fff;
                font-weight: bold;
                i{
                    -moz-text-stroke-width: 0;  
                    -webkit-text-stroke-width: 0;
                }
            }
        }
    }
}
.container-content{
    padding-left: 0;
    .panel-content{
        margin: 15px;
        border-radius: 0;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        margin-top: 50px;
    }
}
.form-container{
    padding: 20px;
    padding-bottom: 0;
    label{
        height: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .btn{
        height: 45px;
        min-width: 90px;
        font-weight: bold;
        &.btn-default{
            padding: 11px 12px;
        }
    }
}
.dropdown-menu-user-login{
    .dropdown-toggle{
        margin-right: 3px;
        margin-top: 4px;
        i{
            font-weight: bold;
            color: #2C374B;
        }
    }
    .dropdown-menu-right{
        margin-right: 12px;
        margin-top: -7px;
        min-width: 100px;
        li{
            a{
                padding: 10px 20px;
                font-weight: bold;
                font-size: 15px;
            }
        }
    }
}
#mvtable{
    tbody{
        tr{
            td{
                &:last-child{
                    text-align: center;
                }
            }
        }
    }
}
