*,*:before,*:after{
    box-sizing:inherit
}
html{
    box-sizing:border-box;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
body{
    margin:0;
    overflow-x: hidden;
    background-color: #F3F1F4;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.sidebar{
    height:100%;
    background-color:#2C374B;
    position:fixed!important;
    z-index:1;
    overflow-y:auto;
    padding-top: 10px;
    padding-right: 0;
    .list-group-item{
        width:100%;
        background-color:#2C374B;
        display:block;
        padding:8px 16px;
        padding-left: 40px;
        text-align:left;
        white-space:normal;
        float:none;
        color: #4B586C;
        font-size: 16px;
        line-height: 25px;
        border-radius: 0;
        border-color: #4B586C;        
        &:first-child{
            border:none;
        }
        p{
            line-height: 25px;
        }
        img{
            padding-right: 10px;
            height: 64px;
        }
        .list-group-item-text{
            color: #fff;
        }
        .list-group-item-heading{
            font-weight: bold;
            margin-top: 0px;
            margin-bottom: 15px;
            color: #fff;
        }

    }
    a{
        display: table;
        &.list-group-item{
            &:hover{
                border-color: #4B586C;
                background-color:#2C374B;
                color: #fff;
                font-weight: bold;
            }
            &:active,&:visited{
                background-color:#2C374B;
                border-color: #4B586C;
            }
            &.active{
                background-color:#2C374B;
                color: #fff;
                font-weight: bold;
            }
        }
        .img-menu-container{
            display: table-cell; 
            width: 77px;
            img{
                margin-left: -7px;
            }
        }
        .text-menu-container{
            display: table-cell; 
            width: auto; 
            vertical-align: middle;
            padding-right: 20px;
        }
    }
}
.container-content{
    padding-left: 0;
    .panel-content{
        margin: 15px;
        border-radius: 0;       
        margin-top: 50px;
        background-color: transparent;
    }
}
.form-container{
    padding: 20px;
    padding-bottom: 7px;
    label{
        height: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .btn{
        height: 45px;
        min-width: 90px;
        font-weight: bold;
    }
}
.form-horizontal{
    .form-group{
        .form-group{
            margin-left: 0; 
            margin-right: 0; 
        }
    }
}
.dropdown-menu-user-login{
    .dropdown-toggle{
        margin-right: 3px;
        margin-top: 4px;
        i{
            font-weight: bold;
            color: #2C374B;
        }
    }
    .dropdown-menu-right{
        margin-right: 12px;
        margin-top: -7px;
        min-width: 100px;
        li{
            a{
                padding: 10px 20px;
                font-weight: bold;
                font-size: 15px;
            }
        }
    }
}
.menu-acordion{
    margin-bottom: 0;
    .panel{
        border: 0;
        border-radius: 0;
        background-color: transparent;
        .panel-collapse{
            margin-bottom: 25px;           
        }
        .panel-heading{
            padding-top: 0;
            padding-bottom: 0;
            border-radius: 0;
            margin-bottom: 7px;                             
            color: white;  
            background-color: transparent;
            &.collapsed{
                .title-container{
                    background-color: #565F70;
                    border-color: #565F70;
                }
            }
            .title-container{
                box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
                border: 1px solid #BF845C;
                background-color: #BF845C;
                cursor: pointer;
                padding-top: 10px;
                padding-bottom: 10px;
                h4{
                    font-weight: bold;
                }
            }
            .info-container{    
                padding-left: 10px;
                padding-right: 0;
                .panel-info{
                    border: 1px solid white;
                    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
                    background-color: white;
                    padding-top: 11px;
                    padding-bottom: 11px;
                    font-style: italic;
                }
            }
        }
        .panel-body{           
            border-radius: 0;            
            margin-bottom: 20px;
            background-color: transparent;
            padding-top: 0;
            padding-bottom: 0;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            .data-container{
                border: 1px solid white;
                box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
                background-color: white;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .faq-container{
                padding-left: 10px;
                padding-right: 0;
                .panel-faq{
                    border: 1px solid white;
                    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
                    background-color: white;
                    padding: 20px;
                    padding-right: 15px;
                    color: #3A3A3A;
                    font-size: 16px;
                    ol{
                        color: #979797;
                        padding-left: 20px;
                        text-align: justify;
                        font-size: 14px;
                        li{
                            font-weight: bold;
                            margin-top: 7px;
                            margin-bottom: 3px;
                        }
                    }
                }
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
        &:last-child{           
            .panel-collapse{
                margin-bottom: 0;          
            }
        }
    }
}
.panel{
    .alert{
        margin-bottom: 15px;
    }
}