body{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.container{
    max-width: 630px;
}
.header-text{
    max-width: 520px;
    margin-right: auto;
    margin-left: auto;
    h1{
        font-family: 'Source Sans Pro Bold', sans-serif;
        font-weight: 700;
        margin-bottom: 15px;
    }
    p{
        margin: 0; 
        font-style: italic;
        &.text-muted{
            font-family: 'Muli', sans-serif;
        }
    }
}
.panel{
    box-shadow: unset;
    &.panel-register{
        background-color: #2C374B;
        color: white;
        padding: 15px;
        padding-bottom: 2px;
        margin-top: 20px;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
        .embed-responsive{
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        h4{
            font-weight: bold;
            margin-top: 9px;
            margin-bottom: 9px;
        }
        .form-title{
            margin-top: 30px;
            margin-bottom: 30px;
            .form-title-image{
                width:80px;
                height:70px;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                float: left;

            }
            .form-title-text{
                padding-left: 100px;
                max-width: 415px;
            }
        }
        #form-0{
            .popover{
                .popover-title{
                    font-weight: bold;
                }
                .popover-title, .popover-content{  
                    color: black !important;
                    text-align: justify;
                }
            }
        }
        #form-1{
            .form-title{
                .form-title-image{
                    margin-top: -5px;
                }
            }
            .textarea{
                &.form-group{
                    .form-control-feedback{
                        top: 31px;
                    }
                }
            }
            .form-control-feedback{
                top: 17px;
                right: 0;
                z-index: 3;
            }
            .warning-msg{
                top: -19px;
            }
            .error-msg{
                top: -19px;
            }
            .form-group{
                &.has-warning{
                    .form-control-feedback{
                        right: 6px !important;
                        width: 19px;
                        height: 19px;
                    }
                }
            }
        }
        #form-2{
            .form-title{
                .form-title-image{
                    margin-top: 3px;
                }
            }
            .col-sm-12{
                .error-msg{
                    right: 14px;
                }
            }
        }
        #form-3{
            .form-title{
                .form-title-image{
                    margin-top: -5px;
                }
            }
            .form-control-feedback{
                top: 17px;
                right: 0;
                z-index: 3;
            }
            .error-msg{
                top: -19px;
            }
        }
        #form-4{
            .form-title{
                .form-title-image{
                    margin-top: -5px;
                }
            }
            .col-sm-12{
                .error-msg{
                    right: 14px;
                }
            }
            .saham-perseorangan{
                .row{
                    &:last-child{
                        .col-sm-12{
                            .form-control-feedback{
                                right: 34px !important;
                                top: 16px !important;
                                z-index: 3;
                            }
                            .error-msg{
                                right: 0px;
                                top: -18px;
                            }
                        }
                    }
                }
            }
            .saham-perusahaan{
                .row{
                    &:first-child{
                        .col-sm-12{
                            &:first-child{
                                .form-control-feedback{
                                    right: 0 !important;
                                    top: 16px !important;
                                    z-index: 3;
                                }
                            }
                        }
                    }
                    &:last-child{
                        .col-sm-12{
                            &:last-child{
                                .form-control-feedback{
                                    right: 34px !important;
                                    top: 16px !important;
                                    z-index: 3;
                                }
                                .error-msg{
                                    right: 0px;
                                    top: -18px;
                                }
                            }
                        }
                    }
                }
            }
            .input-file{
                .form-control-feedback{
                    right: 114px;
                }
            }
            .group-pemegang-saham{
                .col-sm-12{
                    &:last-child{
                        .input-group{
                            .form-control{
                                padding-left: 18px;
                            }
                        }
                    }
                }
            }
            .dropdown-menu{
                padding-left: 5px;
                padding-right: 5px;
                min-width: 175px;
                .btn-add-pemegang-saham{
                    div{
                        display: block;
                        padding: 8px 20px;
                        clear: both;
                        font-weight: 400;
                        color: #333;
                        white-space: nowrap;
                        cursor: pointer;
                        &:hover{
                            background-color: #2C374B;
                            color: white;
                        }
                    }
                    &:first-child{
                        div{
                            border-top-right-radius: 10px;
                            border-top-left-radius: 10px;
                        }
                    }
                    &:last-child{
                        div{
                            border-bottom-right-radius: 10px;
                            border-bottom-left-radius: 10px;
                        }
                    }
                }
            }
            .form-group{
                .form-group{
                    margin-bottom: 0;
                }
            }
        }
        #form-5{
            .form-title{
                .form-title-image{
                    margin-top: -5px;
                }
            }
            .col-sm-12{
                .error-msg{
                    right: 14px;
                }
            }
            /*            .dropdown-menu{
                            width: 340px !important;
                            padding-left: 0px;
                            padding-right: 3px;
                            padding-top: 6px;
                            input{
                                height: 31px;
                                padding: 6px;
                                margin-left: 5px;
                                border-left-color: #cccccc;
                                padding-left: 8px;
                            }
                            .btn{
                                z-index: 3;
                                font-family: arial;
                                font-size: 12px;
                                font-weight: bold;
                            }
                        }*/
            .input-file{
                .form-control-feedback{
                    right: 114px;
                }
            }
            .dropdown-menu{
                padding-left: 5px;
                padding-right: 5px;
                min-width: 197px;
                .btn-add-pengurus-perusahaan{
                    div{
                        display: block;
                        padding: 8px 20px;
                        clear: both;
                        font-weight: 400;
                        color: #333;
                        white-space: nowrap;
                        cursor: pointer;
                        &:hover{
                            background-color: #2C374B;
                            color: white;
                        }
                    }
                    &:first-child{
                        div{
                            border-top-right-radius: 10px;
                            border-top-left-radius: 10px;
                        }
                    }
                    &:last-child{
                        div{
                            border-bottom-right-radius: 10px;
                            border-bottom-left-radius: 10px;
                        }
                    }
                }
            }
            .popover{
                margin-left: 12px;
                width: 248px;
                &.bottom{
                    >.arrow{
                        top: -10px;
                    }
                }
                .popover-content{  
                    p{
                        text-align: justify;
                        opacity: 1 !important;
                        color: black;
                    }
                    padding-top: 12px;
                    padding-left: 13px;
                    padding-right: 14px;
                    padding-bottom: 43px;
                    .btn{
                        font-family: arial;
                        font-size: 12px;
                        font-weight: bold;
                        width: 65px;
                    }
                }
            }
        }
        .input-file{
            .input-file-container{
                input{
                    padding-right: 130px;
                }
            }
            .form-control-feedback{
                right: 98px;
            }
        }
        #container-kbli{
            height: 65px;
            overflow-y: auto;
            overflow-x: hidden;
            .item-kbli{
                margin-bottom: 1px;
                .form-group{
                    margin-bottom: 0;
                    input{
                        margin-bottom: 5px;
                    }
                    &.has-feedback{
                        .form-control-feedback{
                            right: 0px;
                            top: 16px;
                        }
                    }
                }
                .col-xs-4, .col-sm-4, .col-lg-3{
                    padding-left: 0;
                    padding-right: 5px;
                    text-align: right;
                    .btn-delete-kbli{
                        background-color: #2C374B;
                        color: white;
                    }
                }
                .col-xs-18, .col-sm-20, .col-lg-21{
                    padding-left: 0;
                    padding-right: 5px;
                }
            }

            .simplebar-scroll-content{
                padding-right: 35px !important;
                .simplebar-content{
                    padding-right: 0 !important;
                    padding-bottom: 32px !important;
                }
            }
        }
        #container-pemegang-saham{
            height: 390px;
            overflow-x: hidden;
            .item-pemegang-saham{
                position:relative;
                margin-bottom: 1px;
                .item-label{
                    font-size: 17px;
                    font-weight: bold;
                    display: inline-block;
                    padding: 10px;
                    padding-left: 0;
                    position: relative;
                    background-color: #2C374B;
                }
                hr{
                    margin: 0;
                    margin-top: -18px;
                    margin-bottom: 18px;
                }
                .btn-delete-pemegang-saham{
                    position: absolute;
                    top: 2px;
                    right: 0;
                    background-color: #2C374B;
                    color: white;
                }
                &:first-child{
                    .bootstrap-datetimepicker-widget{
                        bottom: 23px !important;
                    }
                }
            }
        }
        #container-pengurus{
            height: 377px;
            overflow-x: hidden;
            margin-bottom: 7px;
            .item-pengurus{
                position:relative;
                margin-bottom: 1px;
                .item-label{
                    font-size: 17px;
                    font-weight: bold;
                    display: inline-block;
                    padding: 10px;
                    padding-left: 0;
                    position: relative;
                    background-color: #2C374B;
                }
                hr{
                    margin: 0;
                    margin-top: -18px;
                    margin-bottom: 18px;
                }
                .btn-edit-pengurus{
                    position: absolute;
                    top: 2px;
                    right: 42px;
                    background-color: #2C374B;
                    color: white;
                    &:last-child{
                        right: 0;
                    }
                    >.btn{
                        background-color: #2C374B;
                        color: white;
                    }
                }
                .btn-delete-pengurus{
                    position: absolute;
                    top: 2px;
                    right: 0;
                    background-color: #2C374B;
                    color: white;
                }
            }
        }
        .bootstrap-datetimepicker-widget{
            color: initial;
            position: absolute;
        }
    }
    &.panel-button{
        height: 36px;
        .btn{
            font-family: arial;
            font-size: 12px;
            font-weight: bold;
            padding-left: 19px;
            padding-right: 19px;
            &.btn-default{
                &.disabled{
                    background-color: #cccccc;
                    border-color: transparent;           
                    cursor: default;
                    opacity: .55;
                }
            }
            &.btn-next, &.btn-prev{
                box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
                outline: none;
                outline: 0;
            }
        }
    }
}
.nav-tabs{
    border-bottom: 0;
    > li {
        width: 33.33%;
        a{
            width: 120px;
            height: 120px;
            margin-top: 0;
            margin-bottom: 35px;
            margin-right: auto;
            margin-left: auto;
            border-radius: 100%;
            padding: 0;
            color: white;
            outline: none;
            outline: 0;
            &:focus{
                color: #white !important;
                background-color: transparent;
            }
            &:hover{
                color: #555555 !important;
                background-color: white;
            }
            span{
                &.round-tabs{
                    width: 118px;
                    height: 118px;
                    line-height: 118px;
                    display: inline-block;
                    border-radius: 100px;
                    z-index: 2;
                    position: absolute;
                    left: 0;
                    text-align: center;
                    border: 1px solid white;
                    font-weight: normal;
                }
            }
        }
    }
}
@media( max-width : 585px ){
    .nav-tabs{
        > li {
            a{
                width: 90px;
                height: 90px;
                span{
                    &.round-tabs{
                        width: 88px;
                        height: 88px;
                        line-height: 80px;
                    }
                }
            }
        }
    }
}
.input-file-container{
    position: relative;
    .btn-bs-file {
        font-family: arial;
        font-size: 12px;
        font-weight: bold;
        padding-left: 19px;
        padding-right: 19px;
        position: absolute;
        top: 9.5px;
        right: 10px;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
        outline: none;
        outline: 0;
        input[type="file"]{
            display: none;
        }

    }
}
#resume-form{
    height: 450px;
    overflow-x: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    td{
        padding: 4px;
        font-size: 14px;
        width: 50%;
    }
    .table-profil{
        tbody{
            tr{
                td{
                    border: 0px !important;
                    font-size: 18px;
                }
            }
        }
    }
}
#form-finish{
    text-align: justify;
}
#info-password{
    cursor: pointer;
}
.autocomplete-suggestions { 
    border: 1px solid #999; 
    background: #FFF; 
    overflow: auto; 
    strong { 
        color: #3399FF; 
    }
}
.autocomplete-suggestion { 
    cursor: pointer;
    padding: 10px; 
    font-size: 16px; 
    white-space: nowrap; 
    overflow: hidden; 
}
.autocomplete-selected {
    background: #F0F0F0; 
}
.autocomplete-group { 
    padding: 2px 5px; 
    strong { 
        display: block; 
        border-bottom: 1px solid #000; 
    }
}