.input-file{
    label{
        height: 36px !important;
    }
    .btn-download-file{
        height: 36px !important;
        /*min-width: 195px !important;*/
    }
    .input-file-container{
        position: relative;
        padding-right: 30px;
        input{
            height: 36px !important;
            padding: 5px;
            padding-right: 130px !important;
            padding-left: 10px !important;
            border-top-right-radius: 12px !important;
            border-bottom-right-radius: 12px !important; 
            text-overflow: ellipsis;
        }
        .btn-bs-file {
            font-family: arial;
            font-size: 12px;
            font-weight: bold;
            padding-left: 19px;
            padding-right: 19px;
            position: absolute;
            top: 1px;
            right: 31px;
            outline: none;
            outline: 0;
            height: 34px !important;
            min-width: 120px !important;
            background-color: #999999;
            border-color: #999999;
            color: white;
            input[type="file"]{
                display: none;
            }
            &:hover, &:active{
                background-color: #727272;
                border-color: #727272;
            }
        }
    }
    &.has-feedback{
        .form-control-feedback{
            top: 9px;
            right: 3px;
        }
        .error-msg{
            top: -15px;
            right: 30px;
        }
    }
}
#container-pemegang-saham{
    height: 374px;
    overflow-x: hidden;
    margin-bottom: 10px;
    margin-right: -30px;
    .item-pemegang-saham{
        position:relative;
        margin-bottom: 1px;
        >.form-group{
            padding-left: 5px;
        }
        .item-label{
            font-size: 17px;
            font-weight: bold;
            display: inline-block;
            padding: 10px;
            padding-left: 0;
            position: relative;
            background-color: #565F70;
            border: 1px solid #cccccc;
            border-radius: 8px;
            padding-left: 9px;
            color: white;
        }
        hr{
            margin: 0;
            margin-top: -18px;
            margin-bottom: 18px;
            border-color: #565F70;
            margin-bottom: 30px;
        }
    }
}
.faq-container{
    #faq-nama-tujuan{
        height: 425px;
        margin-top: 10px;
    }
    #faq-domisili{
        height: 153px;
        margin-top: 10px;
    }
    #faq-modal{
        height: 389px;
        margin-top: 10px;
    }
}
.deskripsi{
    color: #979797;
    margin-top: 5px;
    text-align: justify;
}

#collapseTwo, #collapseThree{
    .form-group{
        &.input-file{
            margin-right: -30px;
        }
    }
}
#collapseThree{
    label{
        padding-right: 5px;
    }
}