.form-1{
    .form-title{
        .form-title-image{
            margin-top: -5px;
        }
    }
    .textarea{
        &.form-group{
            .form-control-feedback{
                top: 31px !important;
                right: 14px !important;
            }
        }
    }
    .form-control-feedback{
        top: 17px !important;
        right: 0 !important;
        z-index: 3;
    }
    .warning-msg{
        top: -16px !important;
    }
    .error-msg{
        top: -16px !important;
    }
    .form-group{
        &.has-warning{
            .form-control-feedback{
                right: 6px !important;
                width: 19px;
                height: 19px;
            }
        }
        .form-group{
            margin-bottom: 0;
        }
    }
}
.form-2{
    .form-title{
        .form-title-image{
            margin-top: 3px;
        }
    }
    .col-sm-12{
        .error-msg{
            right: 14px;
        }
    }
    .form-control-feedback{
        top: 17px !important;
        right: 18px !important;
        z-index: 3;
    }
}
.form-3{
    .form-title{
        .form-title-image{
            margin-top: -5px;
        }
    }
    .form-control-feedback{
        top: 17px !important;
        right: 0 !important;
        z-index: 3;
    }
    .error-msg{
        top: -16px !important;
    }
    .form-group{
        .form-group{
            margin-bottom: 0;
        }
    }
}
.form-4{   
    .form-title{
        .form-title-image{
            margin-top: -5px;
        }
    }
    .col-sm-12{
        .error-msg{
            right: 14px !important;
        }
    }
    .saham-perseorangan{
        .form-group{
            &:last-child{
                .col-sm-12{
                    .form-control-feedback{
                        right: 34px !important;
                        top: 16px !important;
                        z-index: 3;
                    }
                    .error-msg{
                        right: 0px !important;
                        top: -18px !important;
                    }
                }
            }
        }
    }
    .saham-perusahaan{
        .form-group{
            &:first-child{
                .form-group{
                    .form-control-feedback{
                        right: 0 !important;
                        top: 16px !important;
                        z-index: 3;
                    }
                    .input-group{
                        .form-control{
                            padding-left: 0;
                            border-left-color: transparent !important;
                        }
                        .input-group-addon{
                            border-right-color: transparent !important;
                        }
                    }
                }
            }
            &:last-child{
                .form-control-feedback{
                    right: 34px !important;
                    top: 16px !important;
                    z-index: 3;
                }
                .error-msg{
                    right: 0px !important;
                    top: -15px !important;
                }
            }
        }
    }
    .group-pemegang-saham{
        .form-group{
            &:last-child{
                .input-group{
                    .form-control{
                        padding-left: 18px;
                        border-left-color: #cccccc;
                    }
                    .input-group-addon{
                        border-right-color: #cccccc;
                    }
                }
                &.has-error{
                    .input-group{
                        .form-control{
                            border-left-color: #a94442;
                        }
                        .input-group-addon{
                            border-right-color: #a94442;
                        }
                    }
                }
                &.has-success{
                    .input-group{
                        .form-control{
                            border-left-color: #3c763d;
                        }
                        .input-group-addon{
                            border-right-color: #3c763d;
                        }
                    }
                }
                .error-msg{
                    top: -15px;
                }
                .form-control-feedback{
                    right: 35px;
                }
            }
            .form-control-feedback{
                top: 17px;
            }
        }
    }
    #btn-add-pemegang-saham{
        height: 26px;
        padding-right: 1px;
        margin-top: 10px;
        color: black !important;
        .fa-plus-circle{
            color: #565F70 !important;
        }
    }
    .dropdown-menu{
        padding-left: 5px;
        padding-right: 5px;
        min-width: 175px;
        .btn-add-pemegang-saham{
            div{
                display: block;
                padding: 8px 20px;
                clear: both;
                font-weight: 400;
                color: black;
                white-space: nowrap;
                cursor: pointer;
                &:hover{
                    background-color: #2C374B;
                    color: white;
                }
            }
            &:first-child{
                div{
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                }
            }
            &:last-child{
                div{
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
            }
        }
    }
    .form-group{
        .form-group{
            margin-bottom: 0;
        }
    }
}
.form-5{
    .form-title{
        .form-title-image{
            margin-top: -5px;
        }
    }
    .error-msg{
        right: 14px !important;
    }
    .form-group{
        .form-control-feedback{
            top: 17px;
        }
    }
    #btn-add-pengurus-perusahaan{
        height: 26px;
        padding-right: 1px;
        margin-top: 10px;
        color: black !important;
    }
    .dropdown-menu{
        padding-left: 5px;
        padding-right: 5px;
        min-width: 197px;
        .btn-add-pengurus-perusahaan{
            div{
                display: block;
                padding: 8px 20px;
                clear: both;
                font-weight: 400;
                color: black;
                white-space: nowrap;
                cursor: pointer;
                &:hover{
                    background-color: #2C374B;
                    color: white;
                }
            }
            &:first-child{
                div{
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                }
            }
            &:last-child{
                div{
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
            }
        }
    }
    .popover{
        margin-left: 12px;
        width: 248px;
        &.bottom{
            >.arrow{
                top: -10px;
            }
        }
        .popover-content{  
            p{
                text-align: justify;
                opacity: 1 !important;
                color: black;
            }
            padding-top: 12px;
            padding-left: 13px;
            padding-right: 14px;
            padding-bottom: 43px;
            .btn{
                font-family: arial;
                font-size: 12px;
                font-weight: bold;
                width: 65px;
            }
        }
    }
}
.form-6{
    .textarea{
        &.form-group{
            .form-control-feedback{
                top: 31px !important;
                right: 14px !important;
            }
        }
    }
}
#container-pemegang-saham{
    height: 374px;
    overflow-x: hidden;
    margin-bottom: 10px;
    .item-pemegang-saham{
        position:relative;
        margin-bottom: 1px;
        >.form-group, >.group-pemegang-saham{
            padding-left: 5px;
        }
        .item-label{
            font-size: 17px;
            font-weight: bold;
            display: inline-block;
            padding: 10px;
            padding-left: 0;
            position: relative;
            background-color: #565F70;
            border: 1px solid #cccccc;
            border-radius: 8px;
            padding-left: 9px;
            color: white;
        }
        hr{
            margin: 0;
            margin-top: -18px;
            margin-bottom: 18px;
            border-color: #565F70;
            margin-bottom: 30px;
        }
        .btn-delete-pemegang-saham{
            position: absolute;
            right: 0;            
            background-color: white;
            color: black;
            top: 2px;
            height: 35px;
            min-width: 40px;
            border-color: #565F70;
        }
        &:first-child{
            .bootstrap-datetimepicker-widget{
                bottom: 23px !important;
            }
        }
    }
}
#container-pengurus{
    height: 377px;
    overflow-x: hidden;
    margin-bottom: 7px;
    .item-pengurus{
        position:relative;
        margin-bottom: 1px;
        .item-label{
            font-size: 17px;
            font-weight: bold;
            display: inline-block;
            padding: 10px;
            padding-left: 0;
            position: relative;
            background-color: #565F70;
            border: 1px solid #cccccc;
            border-radius: 8px;
            padding-left: 9px;
            color: white;
        }
        hr{
            margin: 0;
            margin-top: -18px;
            margin-bottom: 18px;
            border-color: #565F70;
            margin-bottom: 30px;
        }
        .btn-delete-pengurus{
            position: absolute;
            right: 0;
            background-color: white;
            color: black;
            top: 2px;
            height: 35px;
            min-width: 40px;
            border-color: #565F70;
        }
    }
}
.bootstrap-datetimepicker-widget{
    color: initial;
    position: absolute;
}
.autocomplete-suggestions { 
    border: 1px solid #999; 
    background: #FFF; 
    overflow: auto; 
    strong { 
        color: #3399FF; 
    }
}
.autocomplete-suggestion { 
    cursor: pointer;
    padding: 10px; 
    font-size: 16px; 
    white-space: nowrap; 
    overflow: hidden; 
}
.autocomplete-selected {
    background: #F0F0F0; 
}
.autocomplete-group { 
    padding: 2px 5px; 
    strong { 
        display: block; 
        border-bottom: 1px solid #000; 
    }
}
.faq-container{
    #faq-nama-tujuan{
        height: 331px;
        margin-top: 10px;
    }
    #faq-domisili{
        height: 496px;
        margin-top: 10px;
    }
    #faq-modal{
        height: 320px;
        margin-top: 10px;
    }
    #faq-organ{
        height: 479px;
        margin-top: 10px;
    }
    #faq-bidang{
        height: 136px;
        margin-top: 10px;
    }
}