.table-profil{
    tbody{
        tr{
            td{
                border: 0px !important;
                font-size: 16px;
            }  
        } 
    } 
} 
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    td{
        padding: 4px;
        font-size: 14px;
        width: 50%;
    }
}
#container-detail-client, #container-download{
    height: 300px;
    overflow-x: hidden;
}
#container-download{
    table{
        td{
            height: 30px;
        }
    }
}
#progress-status{
    height: 100px;
    .slidecontainer {
        width: 100%; /* Width of the outside container */
    }

    /* The slider itself */
    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        border-radius: 5px;   
        background: #d3d3d3;
        background: linear-gradient(to right, red , yellow,  green);
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    /* Mouse-over effects */
    .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%; 
        background: #2C374B;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #2C374B;
        cursor: pointer;
    }
    .slider::-moz-range-track {
        background: #d3d3d3;
        background: linear-gradient(to right, red , yellow,  green);
    }
}