#mvtable{
    tr{
        th{
            &:nth-child(4){
                width: 175px;
            }
            &:last-child{
                width: 100px;   
            }
        }
    }
}
#btn-add-container{
    padding-left: 0;
}
.panel-body{
    .alert{
        margin-bottom: 15px;
    }
}