* { 
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    -ms-box-sizing:border-box; 
    -o-box-sizing:border-box; 
    box-sizing:border-box; 
}
html { 
    width: 100%; 
    height:100%; 
    overflow:hidden; }
body { 
    width: 100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
    background: url('../../../images/login-administrator.jpg') no-repeat left bottom fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.login { 
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    min-height: 220px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255,255,255,.8);
    border-radius: 4px;
    padding-bottom: 18px;
}
input[type="text"],input[type="password"] { 
    width: 100%; 
    margin-bottom: 10px; 
    background: rgba(0,0,0,0.8);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}
.btn{
    border-radius: 4px;
    height: 42px;
}
input[name="username"]:-webkit-autofill,
input[name="username"]:-webkit-autofill:hover,
input[name="username"]:-webkit-autofill:focus,
input[name="username"]:-webkit-autofill:active {
    -webkit-box-shadow: inset 0 0 0px 9999px rgba(45, 45, 45, .98);
    -webkit-text-fill-color: #fff;
}
.checkbox{
    margin-top: 0;
}
.alert {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 7px;
  font-size: 13px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 30px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  top: -2px;
}